<div class="<%= wrapperClass %>">
  <article class="article">
      <div class="article__img" style="background-image: url(<%= imgUrl %>);"></div>
        <div class="article__info">
          <span class="article__tag"><%= tag %></span><!--  Описание  -->
          <span class="article__date"><%= date %></span><!--  Дата публ.  -->
        </div>
        <div class="article__overlay">
          <div class="article__topic">
            <div class="article__title"><%= title %></div> <!-- Заголовок -->
              <div class="article__description"><!-- Описание -->
                <%= description %>
              </div>
          </div>
        </div>
  </article>
</div>