
<div class="card-el">
	<div class="card">
		<div class="card-wrapper" style="background-image: url(./img/font1.jpg);">
			<div class="card-description card-description_color-brown">
				<p class="title">Card</p>
				<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>
		</div>
	</div>
</div>
<div class="card-el">
	<div class="card">
		<div class="card-wrapper" style="background-image: url(./img/font3.jpg);">
			<div class="card-description card-description_color-blue">
				<p class="title">Card</p>
				<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>
		</div>
	</div>
</div>
