
<div class="col-lg-3 col-md-4">
	<div class="card-el">
			<div class="card"
				data-title="<%= title %>" 
				data-rate="<%= rate %>"
				data-oldPrice="<%= oldPrice %>"
				data-price="<%= price %>"
				data-text="<%= text %>"
			>
				<div class="card-wrapper2"  style="background-image: url(<%= imgUrl %>);"></div>
				<div class="card-description2 card-description_color-brown">
					<p class="title" data-title="<%= title %>"> <%= title %></p>
					<div class="rate" >
						<% for ( var i = 0; i<5; i++ ) { %>
							<% if (i < rate) { %>
								<div class="rate__item rate__item_active"><i class="fas fa-star"></i></div>
							<% } else { %>
								<div class="rate__item"><i class="fas fa-star"></i></div>
							<% } %>	
						<% } %>
					</div>
					<div class="price_and_buy">
							<% if(oldPrice) { %>
								<p class="del"><%= oldPrice %>&#8381;</p>
							<% } %><p><%= price %>  &#8381;</p>
						<button>Купить</button>
					</div>
					<p class="text" ><%= text %></p>
				</div>
			</div>
		</div>
</div>
