<div class="container">
  <div class="nav">
    <form name="searchform" class="row">
      <div class="col-md-3"><input type="text" name="title" class="nav__input" placeholder="Название товара"></div>
      <div class="col-md-3"><input type="text" name="text" class="nav__input" placeholder="Искать в описании"></div>
      <div class="col-md-3">
        <div class="nav__select">
          <select name="slct">
            <option value="empty"></option>
            <option value="prUp">цена по возр.</option>
            <option value="prDown">цена по убыв.</option>
            <option value="rateUp">рейтинг по возр.</option>
            <option value="rateDown">рейтинг по убыв.</option>
          </select>
        </div>
      </div>
      <div class="col-md-2"><button type="submit" class="nav__button">Найти</button></div>
    </div>
  </div>
</div>   
