<%= _.template(require('./../includes/head.html'))() %>
<% var pageData = [
  {
    imgUrl: '',
    title: 'Название товара',
    price: 5000,
    oldPrice: 10000
  },
  {
    imgUrl: '',
    title: 'Название товара',
    price: 5000,
    oldPrice: null
  }
]; %>
<div class="container">
  <div class="row">
    <% pageData.forEach(function(page) { %>
      <%= _.template(require('./../components/card.html'))(page) %>
    <% }); %>
  </div>
</div>

<%= _.template(require('./../includes/footer.html'))() %>