body{
}

.card-el {
    perspective: 800px;
    position: relative;
}
.card {
    margin : 30px auto auto 50px;
    width: 240px;
    height: 320px;
    border :2px solid rgba(94, 27, 94, 0.452);
    border-radius: 15px;
    overflow: hidden;
    transform: none;
    transition: 2s ease;
}
.card:hover{
    transition: .1s ease;
    border :2px solid silver;
    .card-description{
        transform:translateY(0px);
    }
}
.card-wrapper {
    min-height: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    transform-style: flat;
}

.card-description {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-top: 10px;
    padding-left: 15px;
    transition: transform, 0.5s ease;
    transform:translateY(38px);
}
.card-description_color-brown {
    color:rgb(139, 36, 13);
}
.card-description_color-blue {
    color: rgb(96, 149, 228)
}
.card-description .title{
    font-size: 18px;
}
.card-description .text {
    font-size: 12px;
    padding-bottom:10px;
}