
.card-el {
    perspective: 800px;
    position: relative;
}
.card {
    margin : 30px auto auto 50px;
    width: 240px;
    height: 320px;
    border :2px solid rgba(94, 27, 94, 0.452);
    border-radius: 15px;
    overflow: hidden;
    transform: none;
    transition: 2s ease;
}
.card:hover{
    transition: .1s ease;
    border :2px solid silver;
    .card-description{
        
    }
}
.card-wrapper {
    height: 50%;
    background-position: center center;
    background-size: cover;
    position: relative;
    top:0px;
    transform-style: flat;
}
.rate-item {
    width: 100%;
    
}
.rate-item active {
    width: 100%;
    font-weight: bold;
}

.card-description {
    position: absolute;
    left: 0px;
    top: 50%;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-left: 15px;
    background: #FFDD73;
    // transition: transform, 0.5s ease;
    // transform:translateY(100%);
}
.card-description_color-brown {
    color:rgb(139, 36, 13);
}
.card-description_color-blue {
    color: rgb(96, 149, 228)
}
.card-description .title{
    font-size: 18px;
    padding-bottom: 7px;
}
.card-description .text {
    font-size: 12px;
    padding-bottom:10px;
}
button{
    appearance: none;
    outline: none;
    box-shadow: none; 
    margin-left: 10px;
    min-height:20px;
    padding: 5px 10px;
    border-radius: 8px; 
    background-color: #fff;
    color: green;
    font: caption 13px; 
}

.price_and_buy p,button {
    display: inline-block;
}
.price_and_buy .del {
    text-decoration :line-through;
    color: rgba(15, 8, 8, 0.568);
}
.price_and_buy p {
    padding-right: 5px
}