body{
}

.card-el {
    perspective: 800px;
}
.card {
    margin : 30px auto auto 50px;
    width: 240px;
    height: 320px;
    border :2px solid rgba(94, 27, 94, 0.452);
    border-radius: 15px;
    overflow: hidden;
    transform: none;
    transition: 2s ease;
}
.card:hover{
    transition: .1s ease;
    border :2px solid silver;
    .description{
        transform:translateY(0px);
    }
}
.card-wrapper {
    min-height: 100%;
    background: rgba(0, 0, 0, 0.3) url('../img/1.png') center center no-repeat;
    position: relative;
    transform-style: flat;
}
.description {
    color:rgb(139, 36, 13);
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-top: 10px;
    padding-left: 15px;
    transition: transform, 0.5s ease;
    transform:translateY(38px);
}
.description .title{
    font-size: 18px;
}
.description .text {
    font-size: 12px;
    padding-bottom:10px;
}