$font-stack: -apple-system, BlinkMacSystemFont,Roboto,'Open Sans','Helvetica Neue',sans-serif;

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  background: #fff;
  font-family: $font-stack;

    .logo p {
      margin-bottom:none;
      padding: 10px 10px;
    }

    .logo{
      background-color: #E5E5E5;
    }

    .panel {
      background-color: #F5F5F5;
    }
    .user-panel{
      padding: 15px 0;
    } 

    .panel a {
      margin-left: 10px;
    }

    .navbar {
      background: none;
      padding: 0;
    }
    
    .search {
      border: 1px solid lightblue;
      margin: 0;
      padding: 0;
    }
    .search input {
      border: none;
      outline: none;

    }
    .search img {
      margin-right: 0px;
      width: 16px;
      height:16px;
    }

    .header-bottom {
      background: #F5F5F5;
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
    }

}